# Ensure that we're not leaking local PATH and LD_LIBRARY_PATH information into
# the build.
common --incompatible_strict_action_env

# Nativelink is currently blocked from working with bzlmod. This is a high prio
# issue.
build:nativelink --noenable_bzlmod

# Basic remote execution configuration.
build:nativelink --define=EXECUTOR=remote
build:nativelink --repo_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1

# The instance name for nativelink. Most likely `main` is correct here.
# Depending on the nativelink configuration this might need to be adjusted.
build:nativelink --remote_instance_name=main

# TODO(aaronmondal): Either set the correct values in this file or add them to
#                    the Bazel build command.
build:nativelink --remote_cache=grpc://172.18.255.1:50051
build:nativelink --remote_executor=grpc://172.18.255.12:50052
